<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>JdbcServlet</servlet-name>
        <servlet-class>jdbc.JdbcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai1</servlet-name>
        <servlet-class>jdbc.kadai1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai2</servlet-name>
        <servlet-class>jdbc.kadai2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai3</servlet-name>
        <servlet-class>jdbc.kadai3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai4</servlet-name>
        <servlet-class>jdbc.kadai4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai5</servlet-name>
        <servlet-class>jdbc.kadai5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai6</servlet-name>
        <servlet-class>jdbc.kadai6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai7</servlet-name>
        <servlet-class>jdbc.kadai7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai8_2</servlet-name>
        <servlet-class>jdbc.kadai8_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>review</servlet-name>
        <servlet-class>jdbc.review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai9</servlet-name>
        <servlet-class>jdbc.kadai9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai10</servlet-name>
        <servlet-class>jdbc.kadai10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai11</servlet-name>
        <servlet-class>jdbc.kadai11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai12</servlet-name>
        <servlet-class>jdbc.kadai12</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JdbcServlet</servlet-name>
        <url-pattern>/JdbcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai1</servlet-name>
        <url-pattern>/kadai1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai2</servlet-name>
        <url-pattern>/kadai2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai3</servlet-name>
        <url-pattern>/kadai3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai4</servlet-name>
        <url-pattern>/kadai4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai5</servlet-name>
        <url-pattern>/kadai5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai6</servlet-name>
        <url-pattern>/kadai6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai7</servlet-name>
        <url-pattern>/kadai7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai8_2</servlet-name>
        <url-pattern>/kadai8_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>review</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai9</servlet-name>
        <url-pattern>/kadai9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai10</servlet-name>
        <url-pattern>/kadai10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai11</servlet-name>
        <url-pattern>/kadai11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai12</servlet-name>
        <url-pattern>/kadai12</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
